[defaults]
inventory = inventory/hosts.yml
host_key_checking = accept-new
remote_tmp = /tmp/ansible
timeout = 30
interpreter_python = auto_silent

[ssh_connection]
transfer_method = scp
scp_extra_args = -O
